YOIK_PORT=3000
YOIK_MUSIC_DIR=/home/felix/data/audio/music
YOIK_AUDIOBOOK_DIR=/home/felix/data/audio/audiobooks
YOIK_FILM_DIR=/home/felix/data/video/films
YOIK_SERIES_DIR=/home/felix/data/video/series
